name: Rector

on:
  pull_request:
    paths:
      - '**.php'
      - tools/rector/composer.json
      - rector.php
      - .github/workflows/rector.yml

jobs:
  rector:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['8.2', '8.4']
    name: Rector (PHP ${{ matrix.php }})

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
        env:
          fail-fast: true

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('tools/rector/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer composer-rector -- update --no-progress --prefer-dist

      - name: Run Rector (dry-run)
        run: composer rector:test
